---
import { Image } from "astro:assets";
import MTG from "../../resources/images/proyectos/MTG.webp";
---

<a href="www.google.es" target="_blank" rel="noreferrer" id="TITULO">
  <div class="tarjetav2" style={{ "--bgColor": "red" }}>
    <div class="poster">
      <Image src={MTG} alt="img" />
    </div>
    <div class="details">
      <h2>
        <b>TITULO</b>
      </h2>
      <div class="tags">
        <span
          style={{
            "--bgColor": "yellow",
            "--textColor": "black",
          }}
        >
          JavaScript
        </span>
      </div>
      <div class="info">BLABLABLA</div>
    </div>
  </div>
</a>

<!-- class="w-48 xl:w-72" -->
<!-- {
        proyecto.tags.map((tag) => (
          <span
            style={
              {
                "--bgColor": getTagColor(tag),
                "--textColor": getTagTextColor(tag),
              } as React.CSSProperties
            }
          >
            {tag}
          </span>
        ))
      } -->
