* {
  color: white;
  box-sizing: border-box;
  max-width: 100vw;
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./resources/fonts/Coolvetica.ttf') format('ttf');
}

@font-face {
  font-family: 'CMU';
  src: url('./resources/fonts/cmunbl.ttf') format('ttf');
}

@font-face {
  font-family: 'UnicornPop';
  src: url('./resources/fonts/UnicornPop.ttf') format('truetype');
  /* src: url('webfont.eot?#iefix') format('embedded-opentype'),
      url('webfont.eot');
     url('webfont.woff') format('woff'),
     url('webfont.svg#svgFontName') format('svg'); */
}

@font-face {
  font-family: 'SimplyRounded';
  src: url('./resources/fonts/SimplyRounded.ttf') format('truetype');
}

/***************** Scrollbar ******************/
/* width */
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(40, 40, 40);
}

/***************** TEXTOS ******************/
.tituloGrande {
  font-size: clamp(3rem, 6vw + 1rem, 7rem);
  font-family: 'CMU, Arial, Helvetica, sans-serif';
}

.tituloSobreMi {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-size: clamp(3rem, 6vw + 1rem, 8rem);
}

.tituloVida {
  background: radial-gradient(hsl(100 100% 60%), hsl(200 100% 60%)) fixed;
  background: conic-gradient(
          rgb(7, 255, 127),
          hsl(200 100% 60%),
          rgb(7, 255, 127)
      )
      fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 8vmin; */
}

.tituloVida span {
  line-height: 1.1;
  margin: auto;
  padding: 10px;
}

.tituloPortfolio {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  text-shadow: 8px 8px #01c7ff75, 20px 20px #000000;
}

/***************** SOBRE MI ******************/
.appearingText{
  view-timeline: --written-text;
}

.appearingText :nth-child(1) {
  animation: disappear linear both;
  animation-timeline: --written-text;
}

.appearingText :nth-child(2) {
  animation: appear linear both;
  animation-timeline: --written-text;
}

@keyframes appear {
  from { display: none; }
  50% { display: none; }
  to { display: block; }
}

@keyframes disappear {
  from { display: block; }
  50% { display: none; }
  to { display: none; }
}

/***************** SVG PATH ******************/
/* .textoQueAparece{
  view-timeline-name: --revealing-image;
	view-timeline-axis: block;
  
	animation: linear reveal both;
	animation-timeline: --revealing-image;

	animation-range: entry 25% cover 50%;
}

.contenedorPath{
  timeline-scope: --container;
}

.pathLine{
  animation-timeline: --container;
  animation: offsetDistance linear forwards;
  animation-timeline: scroll();
  stroke-dashoffset: 0;
  height: 100;
}

.svgLine{
}

.svgPath {
}

@keyframes offsetDistance {
  from { offset-distance: 0%; }
  to { offset-distance: 100%; }
} */

/***************** TARJETA ******************/

/*** Tarjetas V2 ***/
.tarjetav2 {
  position: relative;
  width: 320px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.tarjetav2 .poster::before {
  content: '';
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--bgColor) 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.tarjetav2:hover .poster::before {
  bottom: 0px;
}

.tarjetav2 .poster {
  position: relative;
  overflow: hidden;
}

.tarjetav2 .poster img {
  width: 100%;
  transition: 0.5s;
}

.tarjetav2:hover .poster img {
  transform: translateY(-50px);
  filter: blur(5px);
}

.tarjetav2 .details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  z-index: 2;
  transition: 0.5s;
}
.tarjetav2 .details h4{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tarjetav2:hover .details {
  bottom: 40px;
}

.tarjetav2 .details .logo {
  max-width: 180px;
}

.tarjetav2 .details h3 {
  text-transform: uppercase;
  font-family: verdana;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191;
}

.tarjetav2 .details .tags {
  position: relative;
  margin-top: 5px;
}

.tarjetav2 .details .tags span {
  font-weight: 500;
  padding: 5px;
  background: var(--bgColor);
  color: var(--textColor);
  border-radius: 4px;
  margin: 2px;
}

.tarjetav2 .details .info {
  color: #fff;
  margin-top: 10px;
}

/***************** GLITCH ******************/
.glitch {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/***************** ELEMENTOS QUE APARECEN  ******************/
@keyframes show
{
  0% { opacity: 0; scale: 10%}
  100% { opacity: 1; scale: 100% }
}

.revealingBlock
{
  view-timeline-name: --revealing !important;

  animation-name: show !important;
  animation-fill-mode: both !important;

  animation-timeline: --reveal !important;
  animation-range: entry 25% cover 50% !important;
}

/*****************  ******************/


/*****************  ******************/
