* {
  color: white;
  box-sizing: border-box;
  max-width: 100vw;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./resources/fonts/Coolvetica.ttf') format('ttf');
}

@font-face {
  font-family: 'CMU';
  src: url('./resources/fonts/cmunbl.ttf') format('ttf');
}

@font-face {
  font-family: 'UnicornPop';
  src: url('./resources/fonts/UnicornPop.ttf') format('truetype');
  /* src: url('webfont.eot?#iefix') format('embedded-opentype'),
      url('webfont.eot');
     url('webfont.woff') format('woff'),
     url('webfont.svg#svgFontName') format('svg'); */
}

@font-face {
  font-family: 'SimplyRounded';
  src: url('./resources/fonts/SimplyRounded.ttf') format('truetype');
}

/***************** Scrollbar ******************/
/* width */
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(40, 40, 40);
}

/***************** TEXTOS ******************/
.tituloGrande {
  font-size: clamp(3rem, 6vw + 1rem, 8rem);
  font-family: 'CMU, Arial, Helvetica, sans-serif';
}

.tituloSobreMi {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-size: clamp(3rem, 6vw + 1rem, 8rem);
}

.tituloVida {
  background: radial-gradient(hsl(100 100% 60%), hsl(200 100% 60%)) fixed;
  background: conic-gradient(
          rgb(7, 255, 127),
          hsl(200 100% 60%),
          rgb(7, 255, 127)
      )
      fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 8vmin; */
}

.tituloVida span {
  line-height: 1.1;
  margin: auto;
  padding: 10px;
}

/***************** SOBRE MI ******************/
.appearingText{
  view-timeline: --written-text;
}

.appearingText :nth-child(1) {
  animation: disappear linear both;
  animation-timeline: --written-text;
}
.appearingText :nth-child(2) {
  animation: appear linear both;
  animation-timeline: --written-text;
}

@keyframes appear {
  from { display: none; }
  50% { display: none; }
  to { display: block; }

}

@keyframes disappear {
  from { display: block; }
  50% { display: none; }
  to { display: none; }
}

/*****************  ******************/

