---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Layout from "../layouts/layout.astro";

export async function getStaticPaths() {
  const trabajos = await getCollection("jobs");

  return trabajos.map((jobs: CollectionEntry<"jobs">) => {
    return {
      params: {
        experiencia: jobs.slug,
      },
      props: {
        jobs,
      },
    };
  });
}

interface Props {
  jobs: CollectionEntry<"jobs">;
}

const { jobs } = Astro.props;
const { Content } = await jobs.render();
---

<Layout>
  <article class="flex w-full justify-evenly items-center h-full">
    <section>
      <Image
        alt={jobs.data.name}
        src={jobs.data.logo}
        width={200}
        height={200}
        format="webp"
        transition:name="job-image"
      />
    </section>
    <section>
      <Content />
    </section>
  </article>
</Layout>
