---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";

import Layout from "../layouts/layout_md.astro";

export async function getStaticPaths() {
  const trabajos = await getCollection("jobs");

  return trabajos.map((jobs: CollectionEntry<"jobs">) => {
    return {
      params: {
        experiencia: jobs.slug,
      },
      props: {
        jobs,
      },
    };
  });
}

interface Props {
  jobs: CollectionEntry<"jobs">;
}

const { jobs } = Astro.props;
const { Content } = await jobs.render();
---

<Layout>
  <article class="flex flex-col w-full h-full gap-4 pt-7">
    <ViewTransitions />
    <section class="flex justify-center">
      <Image
        alt={jobs.data.name}
        src={jobs.data.logo}
        width={300}
        height={300}
        format="webp"
        transition:name={`image_${jobs.slug}`}
      />
    </section>
    <section class="w-1/2 mx-auto">
      <Content />
    </section>
  </article>
</Layout>
