---
import Intro from "../components/intro.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <title>Magec Jimenez</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Web personal y portfolio de Magec Jimenez"
    />
  </head>
  <body class="bg-neutral-900 snap-y snap-mandatory h-full w-full">
    <Intro />
    <Footer />
  </body>
</html>
