---
import { Image } from "astro:assets";
import yoPNG from "../resources/images/YoRedondoMin.webp";
---

<section class="min-h-screen snap-start">
  <div
    class="flex justify-center items-center w-3/4 m-auto h-screen flex-col xl:flex-row text-center z-50"
  >
    <div class="item xl:w-1/2 w-full text-center xl:text-left m-auto">
      <h1 class="titulo">¡Hola!</h1>
      <br />
      <p class="titulo">Bienvenido</p>
    </div>
    <div class="m-0 p-0 xl:w-1/3 h-1/2 w-auto" id="contenedor">
      <Image src={yoPNG} alt="yoProfile" class="w-48 xl:w-72" />
    </div>
  </div>
</section>
