---
import TimeLineExp from "./mivida/timeline-experiencia.astro";
---

<section class="max-w-full h-[900px]">
  <h1
    class="m-auto text-center tituloVida text-6xl w-[13ch] lg:w-full lg:text-8xl lg:p-8 p-0 pt-10"
  >
    <span>¿Qué he hecho con mi vida?</span>
  </h1>
  <TimeLineExp />
</section>
