---
import Tarjeta from "./extra/tarjetaProyecto.astro";
---

<section class="min-h-screen w-3/4 content-center m-auto mt-10 pb-10">
  <h1
    class="text-4xl lg:text-8xl p-10 mb-6 text-center tracking-widest tituloPortfolio"
  >
    Proyectos
  </h1>
  <section class="flex gap-10 content-between w-auto flex-wrap justify-center">
    <!-- {Proyectos.map((proyecto) => {
        return <CardProject proyecto={proyecto} key={proyecto.titulo} />;
      })} -->
    <Tarjeta />
  </section>
</section>
