<div class="h-[200vh] snap-center justify-center m-auto flex self-stretch">
  <section
    class="space-y-5 items-start text-white h-1/4 w-3/4 justify-center text-center sticky top-1/4"
    style={{ marginTop: "calc(25vh)", marginBottom: "calc(25vh)" }}
  >
    <h2 class="tituloSobreMi font-sans tracking-[2px] uppercase p-1 text-white">
      ¿Quién soy?
    </h2>
    <div
      class="h-4/5 justify-center m-auto xs:w-2/3 xl:w-5/6 text-center appearingText"
    >
      <span id="sobremi" class="xl:text-3xl">
        Bueno, ¿Qué puedo contarte que no hayas visto ya en cualquier otro
        sitio?, ya sabrás mi nombre así que procedamos con lo interesante...
      </span>
      <span id="sobremi" class="xl:text-3xl">
        Desarrollador amante del frontend, hacedor de apps y fiel defensor de la
        terminología en español.
      </span>
    </div>
  </section>
</div>
