---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <ViewTransitions />
    <title>Magec Jimenez - Portfolio</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="./favicon.ico" />
    <link rel="canonical" href="https://magecjimenez.es/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Web personal y portfolio de Magec Jimenez"
    />
  </head>
  <body class="bg-neutral-900 snap-y snap-mandatory h-screen w-full">
    <slot />
  </body>
</html>
